<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaDesktop.Properties.Settings.CadastroUsuarioConnectionString"
            connectionString="Data Source=CadastroUsuario.mssql.somee.com;Initial Catalog=CadastroUsuario;Persist Security Info=True;User ID=lucas_avsoares_SQLLogin_1;Password=e5roxr4efe"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>